---
title: Search
subtitle: Search documentation and guidance.
date: 2026-04-22 12:24:50
layout: layouts/base.njk
---
<div class="vf-search-client-side--no-index">
<section class="vf-u-padding__top--800 vf-u-padding__bottom--400">
  <div class="vf-stack vf-search-client-side--no-index">
    <h1 class="vf-intro__heading">Search</h1>
  </div>
</section>
  <h2 class="vf-u-sr-only">Search section</h2>

  <div class="vf-content | vf-stack">
{% render '@vf-search-client-side--default', {
  "search_client_prompt": "Enter a search query",
  "search_client_autofocus": false,
  "search_client_button": true,
  "search_client_button_text": "Search",
  "search_client_action": ('/search/' | url),
  "search_client_script": ('/search_index.js' | url),
  "search_client_results": true,
  "search_client_id": "search_query"
} %}
  </div>
  <div id="search-no-results-feedback" class="vf-grid vf-grid__col-5 vf-u-grid-gap--400 vf-u-padding__top--800 vf-u-padding__bottom--800 vf-u-display-none">
  <div></div>
  <section class="vf-u-grid__col--span-3--md vf-u-grid__col--span-3--lg" style="text-align: center;">
    <h2 class="vf-heading vf-heading--2">Help us improve</h2>
    <p class="vf-text vf-text-body--2">Tell us what works well and what could be improved.</p>
    <p class="vf-text vf-text-body--2">Your feedback will help improve the framework and its documentation and will only be visible to the development team.</p>
    <div id="framework-feedback-banner" class="vf-banner vf-banner--alert vf-u-display-none vf-u-margin__top--400" role="status">
      <div class="vf-banner__content">
        <p class="vf-banner__text"></p>
        <button role="button" aria-label="close notification banner" class="vf-button vf-button--icon vf-button--dismiss | vf-banner__button">
          <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>dismiss banner</title>
            <path d="M14.3,12.179a.25.25,0,0,1,0-.354l9.263-9.262A1.5,1.5,0,0,0,21.439.442L12.177,9.7a.25.25,0,0,1-.354,0L2.561.442A1.5,1.5,0,0,0,.439,2.563L9.7,11.825a.25.25,0,0,1,0,.354L.439,21.442a1.5,1.5,0,0,0,2.122,2.121L11.823,14.3a.25.25,0,0,1,.354,0l9.262,9.263a1.5,1.5,0,0,0,2.122-2.121Z"></path>
          </svg>
        </button>
      </div>
    </div>
    <a href="#" id="framework-feedback-trigger" class="vf-button vf-button--secondary | vf-u-margin__top--400">Contribute</a>
    <form id="framework-feedback-form" class="vf-form vf-u-display-none vf-u-margin__top--400" action="" method="POST" novalidate>
      <div class="vf-form__item">
        <label for="framework-feedback" class="vf-form__label">Comments</label>
        <textarea class="vf-form__textarea" id="framework-feedback" name="feedback" rows="3"></textarea>
      </div>
      <p class="framework-feedback-validation-msg"></p>
      <div class="vf-u-margin__top--400">
        <div id="framework-feedback-captcha" data-sitekey="86c4b2d8-403a-47da-a486-2ab0c1902f7e" aria-hidden="true"></div>
      </div>
      <div class="vf-u-margin__top--400">
        <button class="vf-button vf-button--primary" type="submit">Submit feedback</button>
        <button class="vf-button vf-button--secondary vf-u-margin__left--200" type="button" id="framework-feedback-cancel">Cancel</button>
      </div>
    </form>
  </section>
  <div></div>
</div>
</div>