<footer class="vf-minimal-footer vf-footer vf-u-padding__top--600 vf-u-padding__bottom--800">
  <div class="vf-footer__inner">
    <div class="vf-footer__logo-mission | vf-u-grid-gap--400 vf-u-margin__bottom--200">
      <a href="https://www.ebi.ac.uk" class="vf-logo vf-u-grid__col--span-1--md vf-u-grid__col--span-1--lg">
        <img class="vf-logo__image" src="{{ '/images/embl-ebi-rgb-all-white.svg' | url }}" alt="EMBL-EBI" loading="eager">
      </a>
      <div class="vf-footer__mission vf-u-padding__top--200 vf-u-grid__col--span-3--md vf-u-grid__col--span-3--lg">
        <p class="vf-footer__notice vf-u-margin__bottom--0 vf-color--neutral--300">Low resource optimisation framework is developed and maintained by EMBL-EBI, a world leader in biological data resources.</p>
      </div>
    </div>
    <p class="vf-footer__legal">
      <span class="vf-footer__legal-text">
        Copyright © EMBL 2026
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="//www.ebi.ac.uk/about/contact/">EMBL-EBI contact</a>
      </span>
      <span class="vf-footer__legal-text">
        <a class="vf-footer__link" href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
      </span>
    </p>
  </div>
</footer>

{% if serverInfo.environment == "production" %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7D873YGZNY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-7D873YGZNY');
</script>
{% else %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7D873YGZNY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-7D873YGZNY');
</script>
{% endif %}

{% render '@vf-polyfill-js' %}
<script src="{{ '/scripts/scripts.js' | url }}"></script>
